.mappa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.mappa-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  z-index: 1001;
}
